<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Workouts</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/createWorkout.css">
    <link rel="stylesheet" href="/css/theme.css">
    <script src="./js/authHelper.js" defer></script>
    <script src="./js/frontEditWorkout.js" defer></script>
</head>
<body>
    
    <div id="winterSnoweContainer"></div>

    <main class="dashboard">
        <h1>{{title}}</h1>
        {{#if user.isAuthenticated}}
            {{#each workouts}}
                <div class="workout-section">
                    <button><h2>{{workout_name}}</h2></button>
                    
                    {{#each exercises}}
                        <div class="edit-workout-form">
                            <form class="workoutEditForm" method="POST" action="/editWorkouts?_method=PUT">
                                <input type="hidden" name="exerciseId" value="{{_id}}">
                                
                                <label for="exercise_name_{{@index}}">Exercise Name:</label>
                                <input type="text" id="exercise_name_{{@index}}" name="exercise_name" value="{{name}}" required>
                    {{/each}}
                </div>
            {{/each}}
        {{else}}
               <div class="notAuthenticated-form">
                    <p>You must be authenticated to edit workouts.</p>
               </div>
        {{/if}}
    </main>





</body>
</html>