<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/photos/polarbear_head.ico">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/myWorkouts.css">
	<script src="./js/frontMyWorkouts.js" defer></script>
	<script src="/js/theme.js" defer></script>
</head>
<body>
    
    <div id="winterSnowContainer"></div>

    <ul class="info">
        <div class="workout-actions" aria-label="Workout actions">
            <a class="action-link action-create" href="/createWorkouts">+ Create Workout</a>
            <a class="action-link action-edit" href="/editDashboard">/ Edit Workout</a>
        </div>

        <div class="header-margin">
            <img src="./photos/polarbear_dumbellCurl.svg" alt="Polar Bear Logo" class="logo">
        </div>
        <h1>{{title}} </h1>
        
        {{#each workouts}}
            <li>
                <div class="workout-id">
                    <strong>{{this.workout_name}}</strong>
                </div> - 
                <p>{{this.description}}</p>
                <button id="btnWorkout{{this.id}}">Workout</button>
            </li>
        {{/each}}
        {{#if user.isAuthenticated}}
		<nav class="nav-bar">
			<div class="nav-track">
				<a class="nav-link nav-profile" href="/profile">
					<img class="nav-icon" src="/photos/avatar.svg" alt="Profile">
					<span>Profile</span>
				</a>

				{{#if user.isAdmin}}
				<a class="nav-link" href="/manageUsers">
					<img class="nav-icon" src="/photos/admin.svg" alt="Manage Users">
					<span>Manage Users</span>
				</a>
				{{/if}}

				<a class="nav-link nav-home" href="/dashboard">
					<img class="nav-icon" src="/photos/home.svg" alt="Home">
					<span>Home</span>
				</a>

				<a class="nav-link nav-workout" href="/myWorkouts">
					<img class="nav-icon" src="/photos/polarbear_head.svg" alt="My Workout">
					<span>My Workout</span>
				</a>
			</div>
		</nav>
		{{else}}
		<nav class="nav-bar">
			<div class="nav-track">
				<a class="nav-link nav-profile" href="/profile">
					<img class="nav-icon" src="/photos/avatar.svg" alt="Profile">
					<span>Profile</span>
				</a>
			</div>
		</nav>
	{{/if}}
    </ul>
</body>